
.page{
    height: 100%;
    display: flex;
    .left{
        display: flex;
        width: 200px;
        flex-direction: column;
        h1{
        
        }
        nav{
            display: flex;
            flex-direction: column;            
        }

    }
    .right{
        display: flex;
        flex: 1;
    }
}